/*Theme Name: Ttsasecret
Theme URI: http://spacetechnocept.com

Author: the WordPress team

Author URI: http://spacetechnocept.com/

Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.

Version: 1.5

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready

Text Domain: SpaceTechnocept

*/



/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */
* {font-family: arial; }
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
    background: -moz-linear-gradient(center top , #F7F6F7 0%, #DFDBDF 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #C7C0C7 !important;
    border-radius: 2px 2px 2px 2px !important;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.1)!important;
    color: #5E5E5E !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: inherit !important;
    font-size: 100% !important;
	
    font-weight: bold !important;
    left: auto !important;
    line-height: 1em;
    margin: 0;
    overflow: visible;
    padding: 6px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) !important;
    white-space: nowrap;
 
}
.woocommerce ul.products li.product .amount, .woocommerce-page ul.products li.product .amount {
    color: #000 !important;
    font-weight: bold !important;
}

.woocommerce ul.products li p a{ color:#7C7C7C !important;font-size: 12px !important;
    text-align: justify !important;}

.woocommerce ul.products li p { color:#7C7C7C !important}

.grid li{width:46.2% !important; height:260px !important; }

/* .attachment-shop_single {width: 100% !important;} */

.grid li a .star-rating {display:none !important;}
/*
.attachment-shop_catalog {width:139px !important; height:150px !important;  margin:0 auto !important; box-shadow:none !important }

.product h3{font-size:2.0em !important; padding:0em !important; color:rgb(189,146,124) !important;}
*/
#post-333 .entry-content .woocommerce #customer_login .col-1 {display:none !important;}

.register{border: 1px solid #dfdbdf; }

#post-333 .entry-content .woocommerce #customer_login .col-2{width:100% !important;}

#post-14 .entry-content .woocommerce #customer_login .col-2 form {display:none !important;}

#post-14 .entry-content .woocommerce #customer_login .col-2 .register{padding: 20px;

border-radius: 5PX;

margin-TOP: 32PX;}

#post-333  .entry-content .woocommerce #customer_login .col-2 .newuser{display:none !important;}

#post-14 .entry-content .woocommerce #customer_login .col-2 .register H1 {MARGIN-TOP:-11PX;}

.newsletter form p{float:left}

.newsletter{margin-top:-12px;}

.newsletter-email{width:161px}

.mr_small_icon{color: #F26E59;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px !important;

    text-decoration: none}

.mr_social_sharing{padding-bottom:8px;}

body

{

background:#ffffff;

margin:0px auto;

padding:0px;

}

#wrapper

{

background:#F8F8F8 !important;

width:100%;

padding:0px;

margin:0px auto;

}
.contaner1
{
background: #fff;
border: 1px solid #a07d72;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
-webkit-box-shadow: 0px 1px 11px 1px rgba(00, 00, 00, 0.5);
box-shadow: 0px 1px 11px 1px rgba(00, 00, 00, 0.5);
padding: 20px;
margin: 0 auto;
margin-top:10px;
width: 960px;
}
#main
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;   
}
#main1,#main-page, .main
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;
/*	height:2164px !important;
	padding:10px 3px 10px 47px !important;
  */
	padding: 20px;
	color: #7c7c7c;
}
.main { margin: 0 0 12px 0; }
.main .post-heading a { color:#E68B68;  text-decoration: none; text-transform: capitalize; }
.main .read-more-link { float: right; clear:both; color: #e68b68; text-decoration:none; } 
nav#nav-single , article .entry-meta { display: none; }
#main1 .size-full { width: 100%; }
#main2
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;
	height:504px !important;
   
}
#main3
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;
	height:904px !important;
   
}
#main4
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;
	height:1204px !important;
 padding:10px 10px 10px 43px;  
}
#main5
{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #A07D72 !important;
    border-radius: 11px 11px 11px 11px !important;
    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;
	height:884px !important;
 padding:10px 10px 10px 43px;  
}#main9{    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;	height:1680px !important; padding:10px 10px 10px 43px;  }#main10 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 721px !important;    padding: 10px 3px 10px 47px !important;}#main11 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 1264px !important;    padding: 10px 10px 10px 43px;}#main12 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 212px !important;    padding: 10px 3px 10px 30px !important;}#main13 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 196px !important;    padding: 10px 10px 10px 11px;}#main6 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 464px !important;    padding: 10px 3px 10px 47px !important;}#main8{    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 164px !important;    padding: 10px 3px 10px 47px !important;}#main7 {    background: none repeat scroll 0 0 #FFFFFF !important;    border: 1px solid #A07D72 !important;    border-radius: 11px 11px 11px 11px !important;    box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.5) !important;    height: 859px !important;    padding: 10px 3px 10px 47px !important;}
#main-page { color:#7c7c7c;  }
#main-page h1,
#main-page h2,
#main-page h3 { font: bold 12px arial; }
#main-page a { color: #E68B68; }
#header{
width:100%;
padding:0px;
margin:0px auto;
}
#header_top{
width:100%;
padding:0px;
margin:0px auto;
}

#header_top_input

{

width:1000px;

padding:0px;

margin:0px auto;

}

.header_nav

{



margin:0px;

padding:0px;

float:right;

}

.text_top_nav

{

font-family:Arial, Helvetica, sans-serif;

color:#FFFFFF;

font-size:12px;

float:left;

}

.text_top_nav ul

{

margin:0px;

padding:0px;

} 

.text_top_nav ul li

{

list-style:none;

float:right;

padding:0px 8px;

border-right:1px #FFFFFF solid;

line-height:25px;

margin-bottom:5px;

margin-top:5px;

}

.text_top_nav ul li a

{

font-family:Arial, Helvetica, sans-serif;

color: #F26E59;

font-size:12px;

text-decoration:none;

}

.text_top_nav ul li a:hover{
text-decoration:underline;
}

ul[class^="jqueryeasymenu"] li li a { color: #000 !important; }

.clear{
clear:both;
}

.header_input

{

width:1000px;

padding:0px;

margin:0px auto;

}
a img { border: none; }
.logo{
	width:300px;
	margin:0px;
	padding:0px;
	font-family:"Times New Roman", Times, serif;
	color:#660066;
	font-size:40px;
	float:left;
}

.right_box

{

width:412px;

padding:20px;

float:right;

margin:0px;

}

.Select_box

{

width:89px;

float:right;

margin-top:6px;

padding:0px;

}

.search_box

{

width:272px;

padding:0px;

margin:0px;

float:right;

}

.ctr_search .txt_livesearch, #wrap .ctr_search .txt_livesearch{width:100% !important;}

.Select_box_input

{

width:120px;

height:30px;

background:url(images/g+.jpg) left no-repeat;

margin:0px;

padding-left:30px;

border:1px solid #999999;

}

.text_serach

{

width:300px;

padding:0px;

margin-top:15px;

background:url(images/search.png) no-repeat right;

height:24px;

font-family:Arial, Helvetica, sans-serif;

color:#666666;

border:1px solid #999999;

}

.nav

{

width:1000px;

font-family:"Times New Roman", Times, serif;

border-radius:5px;

color:#000;



margin:0px auto;

font-size:18px;

padding:0px;

}

.nav ul

{



padding:0px;

margin-top:0px;

}

.nav ul li

{

list-style:none;

float:left;

padding:0px;

line-height:22px;

border-right:#ffffff dotted 1px;

}

.nav ul li a
{
font-family: 'Monotype Corsiva'; /* 'Brush Script MT Italic'; */
border-radius:5px;
color:#ffffff;
text-decoration:none;
font-size:20px !important;
font-style:italic;
font-weight: normal;
display:block;
padding:7px 2px 0 5px;
}
.nav ul li a:hover
{
/*
background:#3c233a; 
background:#F26E59; */
color:#FFFFFF;
display:block;
}
.banner
{
width:1000px;
margin:0px auto;
padding-top:20px;
}
.contaner
{
	width:1000px;
	padding-top:9px;
	margin:0px auto;
	padding-bottom:40px;
}

.left_box_contaner
{
width:328px;
padding-bottom:20px;
margin:0px;
float:left;
border-bottom:1px #CCCCCC solid;
}

.right_box_contaner

{

width:328px;

padding-bottom:20px;

margin:0px;

float:right;

border-bottom:1px #CCCCCC solid;

}

.center_box_contaner

{

width:328px;

padding-bottom:20px;

margin:0px;

float:left;

border-bottom:1px #CCCCCC solid;

margin-left:10px;

}

.left_box_contaner_img_box

{

width:121px;

padding:0px;

margin:0px;

float:left;

}

.left_box_contaner_img_box_heading

{

font-family:"Times New Roman", Times, serif;

color:#330033;

width:180px;

float:right;

font-size:24px;

}

.footer

{

width:937px;

padding-top:20px;

margin:0px auto;

padding-bottom:40px;

}

.footer_left_box
{
	width:300px;
	margin:0px;
	padding:0px;
	float:left;
}
.footer_text_box
{
width:140px;
margin-left:18px;
padding:0px;
float:left;
}
.footer_text_box .footer_heading,
.footer_text_box2 .footer_heading{ 
	color: #C9281E; font: normal 10px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.footer_text_box li a,
.footer_text_box2 li a,
.footer_left_box a {
	color: #f26e59;
	font: normal 11px "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
.footer_text
{
font-family:Arial, Helvetica, sans-serif;
color:#ffffff;
font-size:12px;
}
.footer_text ul
{
margin:0px 5px 0px 0px;
padding:0px;
}

.footer_text ul li
{
list-style:none;
line-height:17px;
padding:1px 2px 0px 2px;
}

.footer_text ul li a
{
font-family:Arial, Helvetica, sans-serif;
color:#F26E59;
font-size:12px;
text-decoration:none;
}

.footer_text ul li a:hover

{

text-decoration:underline;

}

.first_box

{

width:250px;

margin:0px;

padding:0px;

}

.email_box-div{ background: none repeat scroll 0 0 #FFFFFF;

    height: 27px;

    margin-top: -34px;

    padding: 0 0 10px 20px;

    width: 382px;

    z-index: 999;}

.email_box

{

width:250px;

padding:0px;

margin-top:-83px;

}

.email_heading{float:left; padding-right:18px;     font-family: arial;

    font-size: 14px}

.email_box_div{float:left;  }
.email_box_div input[type="text"],.email_box_div input[type="email"] { text-indent: 6px; }

.email_box_div input {
	border:0;
	line-height: 24px;
}
.email_box_div p { margin:0; }
.email_box_input
{
width:250px;
margin:0px;
font-family:Arial, Helvetica, sans-serif;
color:#333333;
font-size:12px;
font-style:italic;
height:25px;
padding:0px;
border:1px #999999 solid;
}

.copy_right_text
{
font-family:Arial, Helvetica, sans-serif;
color:#ffffff;
font-size:12px;
line-height:20px;
margin-top:20px;
}

.copy_right_text a

{

font-family:Arial, Helvetica, sans-serif;

color:#F26E59;

font-size:12px;

line-height:20px;

text-decoration:none;

margin-top:20px;

}

.copy_right_text a:hover

{

text-decoration:underline;

}

.pay_pal

{

width:280px;

margin:0px;

padding-top:30px;

}

.footer_heading

{

font-family:"Times New Roman", Times, serif;

color:#F26E59;

font-size:12px;

/*line-height:50px;*/
line-height:18px;

font-weight:bold;

}

.footer_text_box2

{

width:160px;

padding:0px;

float:right;

}

.footer_outer

{

width:100%;

margin:0px auto;

padding:0px;

}

ul.products.grid div[itemprop="description"]{display:block !important;}

.product_meta , .product_type_variable {display:none !important;}



.right_upcoming

{

float:right;

}

.woocommerce .related ul.products li {width:17% !important;}

.mousetrap{position:relative !important}

.product_list_widget > li {

    margin-right: 3% !important;

    width: 30%;

}

.attachment-shop_thumbnail.wp-post-image{width:90px !important; height: 90px !important;   }

.product_list_widget li {float:left;}

.product_list_widget {

    height: 200px;

}

.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before{ color: goldenrod !important;}

.product_list_widget > li {

    border: 1px solid lightblue;

}

.product_list_widget li:first-child{margin-left:0px !important}



.nav ul li ul{z-index:9999 !important;}

.nav ul li ul li a{ padding: 0 10px; background: -moz-linear-gradient(center top , #000000, #6E646E) repeat-x scroll 0 0 transparent; color:#ffffff !important;}

.nav ul li ul li a:hover

{

color:#ffffff !important;

}

.nav ul li a:hover

{

color:#000!important;

}

.entry-title{color: #B9806F !important;
    font-size: 24px;}

.term-description p:last-child , .woocommerce-result-count ,.woocommerce-info , #qtranslate-4 .widget-title {display:none;}
.widget_qtranslate .widget-title { display:none; }

#qtranslate-4{margin-bottom:10px;}

.newsletter-submit {

    background: none repeat scroll 0 0 #F26E59;

    border: 0 none;

    border-radius: 5px 5px 5px 5px;

    color: #FFFFFF;

    font-family: arial;
    width: 80px;
}
.newsletter-submit {

/*    background: none repeat scroll 0 0 #51364F; */
background: #feccb1; /* Old browsers */
background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */


    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: arial;
    width: 80px;
    cursor: pointer !important;
}


/*  ================================ PRODUCTS PAGE ================================ */
.woocommerce-breadcrumb, .woocommerce-breadcrumb a  { color: #c9281e !important; text-decoration: none; font: normal 13px arial !important; }
.contaner1 #content .images { margin-top: 35px; }
.k_social_sharing { 
	clear: both;
	float: left;
	width: 340px;
	margin-bottom: 12px;
}
.k_social_sharing .mr_social_sharing_wrapper { text-align: center; }
/* ----------- thumbnail slider  ------------- */
.single-product.woocommerce .thumbnails #slider-prev, .single-product.woocommerce .thumbnails #slider-next { margin-right:0 !important; }

.caroufredsel_wrapper li { margin: 0 2px; }
.discount-coupon-code { font: bold 30px arial; color: #E68B68; border: 1px dotted; padding: 5px 10px; margin-top: 5px; }
.quantity.buttons_added { margin-top: 6px !important; }
.shop_attributes tr.alt p, .shop_attributes tr.alt th { background : #fff !important; }
.italics { font-style: italic !important; }
.underline { text-decoration:underline;}
.bold { font-weight: bold; }
/*  ================================ VARIABLE PRODUCTS ================================ */
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary { width: 72% !important; margin-top: 36px !important; }
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images { width: 26% !important;  }
.thumbnails.slider  .yith_magnifier_thumbnail, .thumbnails.slider  .yith_magnifier_thumbnail img { width: 70px !important; }
.k_product_price_div { 
	color:#7c7c7c;
	/* margin-top:38px !important; */
	background:#EEEEEE;
	-webkit-border-radius: 12px 12px 0px 0px !important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 12px 12px 0px 0px !important;
	-moz-border-radius: 12px 12px 0px 0px !important;
	border-radius: 12px 12px 0px 0px !important;
	border-radius: 12px 12px 0px 0px !important;
	padding:12px;
	border:1px solid #CCC;
}
.k_product_price_div td.html,
.k_product_price_div .html label {
	width: 123px;
}
.k_product_price_div .html label.empty { float: left;	}
.k_product_price_div .html label {
	display: inline-block;
	font: bold 12px arial; 
}
.k_product_price_div .html .stock,
.k_product_price_div .html .sku,
.k_product_price_div .html .price {
	font: bold 14px arial !important;
	color: #555 !important;
}
.k_product_price_div .variations select { width: 155px !important; margin-top: 5px !important; }
.k_product_price_div table{
	width: 96%;
	margin: 0 auto;
}
.k_product_price_div .extended-information { margin-bottom: 3px; }
.k_product_price_div table.variations { width:100%; }
.simple_cart_button_form {
	padding:0;
	margin:0;
	display: inline;
}
.k_product_price_div .yith-wcwl-add-to-wishlist { margin: 0; display:inline; }
.k_product_price_div .yith-wcwl-add-button { margin: 0 !important; float: none; display: inline-block; }
.k_product_price_div .yith-wcwl-add-button a { margin: 0; font: bold 14px arial;  }
[itemprop="description"] { display: none; }
.k_product_price_div .yith-wcwl-wishlistexistsbrowse {margin: 0 !important; color: #3465a4 !important;}
.products .price { color: #c7c7c7 !important; font: bold 12px arial; }
.products h3  { padding-bottom:0 !important; font: bold 22px arial !important; color: #E68B68; }
.products li p { margin: 0 !important;  }
.products li p a { font: normal 12px arial;  }

.variations-table * { padding: 0 !important; margin:0 !important; }
.reset_variations { /* background: url(images/close.png); */ display: inline-block; width: 22px; height: 22px; }
.k-add-to-cart-button,.k-add-to-cart-button-fr { display: inline-block; width: 165px; height: 41px; background: url(images/btn_addtocart.gif); color: #fff; text-transform: capitalize; font: normal 18px 'monotype corsiva'; text-align: left; text-indent: 3px; }
.k-wishlist-button, .k-view-wishlist-button { display: inline-block !important; width: 134px; height: 20px; background: url(images/btn_addtowishlist.gif);
font: normal 11px arial !important; color: #fff; text-decoration:none; text-indent: 21px; line-height: 20px !important; 
}
.k-view-wishlist-button { background: url(images/btn_viewwishlist.gif); }
.yith-wcwl-wishlistexistsbrowse { float: none !important; }
/*  ================================ RELEATED PRODUCTS ================================ */
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary { position: relative; }
.woocommerce-page #content div.product div.summary .product_title { 
position: absolute;
left: -270px /* -338px*/;
top: -36px;
margin: 0;
padding: 0;
}

.k_related_products_container { 
	border: 1px solid #dfdbdf;
}
.k_related_products_heading { 
	font: normal 13px arial; 
	text-transform: capitalize; 
	background-color: #eeeeee;
	border-bottom: 1px solid #dfdbdf;
	padding: 3px 5px;
	color: #b9806f;
	margin:0;
}
.k_related_products .products { margin: 0!important; }
.k_related_products .product {
	margin: 0 !important;
	width: 140px !important;
/*	margin-left: 4% !important; */ /* === value sets automaticallly in related.php */
}

.k_related_products .products li.first{ clear: none !important; }

.k_related_products .products li {
	display: inline !important;
}
.k_related_products .products h3 { display: inline-block; color: #333;color: #b9806f; font: normal 12px arial !important; }
.k_related_products .products .price { font: normal 11px arial!important; }
.k_related_products .products .amount { font: bold 11px arial !important; }
.k_related_products .products img { width: 100px!important; margin: 0 auto !important;  }
.k_related_products .product { 
	border-right: 1px solid #dfdbdf; 
	margin-left: 6px !important;
	margin-top: 3px !important;
	margin-bottom: 8px !important;
}

.k_related_products .product:last-child { 
	/* background: red; */
}
.k_related_products .product.fourth { border-right: 0; }
.k_related_products hr { color: #dfdbdf; }
/* ======================== PRODUCT LIST PAGE ====================== */
#main1 .woocommerce .products li,#main .woocommerce .products li { 
width: 48%;
margin-bottom: 8px;
}
#main1 .woocommerce .products li.first,#main .woocommerce .products li.first { 
border-right: 1px solid grey;
}
#main1 .woocommerce .products li img,#main .woocommerce .products li img { width: 32%; margin: 0 auto; /* padding:5px; */ }
#main .woocommerce .products li h3
#main1 .woocommerce .products li h3 { 
	font-size: 22px;
	color: #e68b68;
	font-weight: bold;
}
.products hr {
display: block;
clear: both;
}
.yith-wcwl-add-to-wishlist { display: inline-block; }
.k-orange-button {

background: #fcd8c4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcd8c4 0%, #ef844f 50%, #e86d30 51%, #f9a272 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd8c4), color-stop(50%,#ef844f), color-stop(51%,#e86d30), color-stop(100%,#f9a272)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcd8c4 0%,#ef844f 50%,#e86d30 51%,#f9a272 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcd8c4 0%,#ef844f 50%,#e86d30 51%,#f9a272 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcd8c4 0%,#ef844f 50%,#e86d30 51%,#f9a272 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcd8c4 0%,#ef844f 50%,#e86d30 51%,#f9a272 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd8c4', endColorstr='#f9a272',GradientType=0 ); /* IE6-9 */


font: bold 16px arial;
color: #fff;
padding: 2px 4px;
border: 0;
text-decoration: none;
}
.checkout-button { padding: 7px 10px; font: normal 12px arial; }

/*
.k-orange-button, .add_to_wishlist {
background: #feccb1; /* Old browsers */ /*
background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ *//*
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ *//*
background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ *//*
background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ *//*
background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ *//*
background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C *//*
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
/*
font: bold 16px arial;
color: #fff;
padding: 2px 4px;
border: 0;
text-decoration: none;
}
*/
.k-blue-button {
background: #49c0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
font: bold 16px arial;
color: #fff;
padding: 2px 4px !important;
border: 0;
text-decoration: none;
}
.woocommerce-tabs .tabs { margin:0 !important; }
.woocommerce-tabs .entry-content {
border: 1px solid #dfdbdf !important;
font: normal 13px arial;
color: #7C7C7C !important;
margin-bottom: 16px !important; /*
margin-left: -6px !important;
margin-right: 9px !important; */
margin-top: -26px;
padding: 12px !important;
border-top: 0 !important;

}
.woocommerce-tabs .tabs a { font: bold 12px arial; }
.woocommerce-tabs h2, .woocommerce-tabs h1 { margin:0; font: bold 16px arial; }

/* ======================= PAGE CSS ============= */
#content { 
	font: normal 12px arial;
}
.hover ul { width: 120px; }
/*
.coming-soon li { height: 300px; overflow: hidden; position: relative;  }
.coming-soon img { width: 98% !important; margin: 0 auto; position: absolute; top:0; }
*/
.coming-soon a { display: block; }
.coming-soon .left { float:left; }
.coming-soon .right { float:right; }
.coming-soon .center { margin: 0 auto; }
.coming-soon img { border: 1px solid #d0d0d0; padding: 2%; margin: 12px 12px 12px 0; width: 98% !important; }
.coming-soon .large-images a {  width: 25% !important; }
.coming-soon .medium-images a {  width: 35% !important; }
.informational-video { margin: 0 auto; width: 640px; }
#main1 .bold { 
	font: bold 12pt arial;
	color: #7c7c7c;
}
.selecting-div { height: 30px; margin-bottom:30px; }
.selecting {
float: left;
}
.selecting * { float: left ; margin: 0 0 0 5px;}
#shorting {
float: right;
}
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before{
content: "" !important;
}
.MsoNormal h2 { font: bold 24px arial; }
.MsoNormal { font: normal 12pt arial; color: #7c7c7c; margin-bottom: 30px; }
.MsoNormal p { text-align: justify; }
.page-description * { margin-bottom:0; }
ul.products li.product p a,
.woocommerce-tabs  .panel p a { color:#E68B68 !important; text-decoration: none; }
.woocommerce-tabs  .panel p .caps, .woocommerce-tabs  .panel .caps { text-transform: uppercase; font-weight:bold; }
.reset_variations { display: inline-block; }
a.link { color:#E68B68 !important; text-decoration: none; }
.star-rating-alt-text { font: normal 13px arial; color:#E68B68;  }

/* ====================== Review Block ============= */
.div.pp_woocommerce .pp_content_container { padding: 0 !important; }
#submit { display: inline-block !important; }
.woocommerce #reviews #comments ol.commentlist, .woocommerce-page #reviews #comments ol.commentlist { width: auto !important; color: #7c7c7c; }
p.meta { color: #9c9c9c !important; }
.comment-text [itemprop="description"] { display: block; }
.star-rating span { background: url(images/star.png) repeat-x; }
.starwrapper .star-rating span { background: url(images/star16.png) repeat-x; }
/* =========================== SHOP PAGE ===================== */
.products.grid li { height: 340px !important; }
.products.grid li img { width: 150px !important; }

/* =========================== HOME PAGE ===================== */
.ceo_raw_artist { 
            position: fixed;
            top:25%;
            right:0;
            padding:12px;
            background: pink;
            width:120px;
            color: black;
            text-decoration: none;
            font: bold 15px arial;
            border-radius: 5px 0 0 5px;
            -o-border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-radius: 5px 0 0 5px;
            text-align:justify;

         }